@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
section {
    padding: 25px 0;
}
.title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #000;
}

/*nav*/
.navbar-expand-lg .navbar-collapse {
    width: 100%;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

.active {
    border-bottom: 3px solid #FFC7C7;
}
/*main*/
.blogs {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px 0;
}
.blog-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    padding: 30px;
}
#main-col p {
    font-size: 15px;
    font-family:'Ubuntu';
    text-align: justify ;
    margin: 0 160px 0 0;
    line-height: 20px;
}
.page-title {
    font-family:'Ubuntu';
    margin-top: 30px;
    margin-bottom: 30px;
} 

/*footer*/
.social-media-footer {
    border-top: 1px solid #FFC7C7;
}
.social-media-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 0;
    margin-top: 10px;
}
.social-media-footer li {
    list-style: none;
}
.social-media-footer .fab {
    text-decoration: none;
    color: #343A40;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    padding: 6px;
}
#footer .fa-instagram:hover {
    color: #8a3ab9;
    transition: .4s ease;
}
#footer .fa-youtube:hover {
    color: #FF0000;
    transition: .4s ease;
}
#footer .fa-linkedin:hover {
    color: #0077b5;
    transition: .4s ease;
}
#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #fff;
    color: #FFC7C7;
    border: none;
    cursor: pointer;
    display: none;
}


@media(max-width:1024px) {
.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.active {
    border-bottom:none;
}
}

@media(max-width:600px) {
    #main-col p {
        margin: 0 10px;

    }
    .blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .active {
        border-bottom:none;
    }
}

